<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='main.css')}} ">
    <title>Hello, world!</title>



  </head>
  <body>
    <div class="container">
<p class="h1 " style="color: #55DAFD">Is this a News article?? </p>
<p id="p" class="my-md-3" style="color: white">Enter url of any news website</p>
  <form action="{{ url_for('handle_req') }}" method="POST">
  <div class="form-group row">
  <div class="col-sm-9 mb-2">
    <input type="text" name="url" class="form-control" id="Input" aria-describedby="emailHelp" placeholder="Url">
    </div>
    
    <div class="col-sm-2 mb-2">
      <button type="submit" class="btn btn-primary">Submit</button>
     
 
  </div></div>
  </form>
 <div class="alerts">

  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>