
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

      <!-- <link href="{{ url_for('static',filename='bootstrap-4.0.0-dist/css/bootstrap.min.css')}} " rel="stylesheet"> -->
      <link rel="stylesheet" type="text/css" href="../static/css/main.css">
      <!-- <link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='main.css')}} ">  -->
      <!-- <script type="text/javascript" src="../static/js/jquery_ui_go/external/jquery/jquery.js"></script> -->

      <!-- !!!!!!!!! Used jQuery v2.1.1 please check with the requirements !!!!!!!!!!-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <!-- <script src=" {{ url_for('static',filename='/js/jquery_ui_go/external/jquery/jquery.js')}} " type="text/javascript"></script> -->
      <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
      <title>News Classifier</title>

      <!-- background not working in CSS -->
      <style type="text/css">
         body{
         background-image: url("../static/img/bg-min.jpg");
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         }
         #correct{
          visibility: hidden;
         }
         #incorrect{
          visibility: hidden;
         }
         .container{
               width: 600px;
              }
      </style>
  </head>
  <body>
    <div class="container">
<p class="h1 " style="color: #55DAFD">News Webpage Classifier </p>
<p id="p" class="my-md-3" style="color: white">Enter url of any news website</p>
  <form id="#formc">
  <div class="form-group row">
  <div class="col-sm-9 mb-2">
    <input type="text" name="url" class="form-control" id="Input" aria-describedby="emailHelp" placeholder="Url">
    </div>
    
    <div class="col-sm-2 mb-2">
      <button type="submit" class="btn btn-primary">Submit</button>
     
 
  </div></div>
  </form>
 <div class="alerts">

  </div>


  <button id="correct" class="btn btn-primary mt-2">
  Correct
</button>
<button id="incorrect" class="btn btn-danger mt-2">
  Wrong
</button>



</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
   
    <script type="text/javascript" src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>

<script type="text/javascript">

$("#incorrect").click(function () {
    location.reload();
  });



  $("form").submit(function(){
  var url= $("#input").val();
  $.ajax({
         type: 'POST',
         url: '/index',
         data: $('form').serialize(),
        
         success: function(response) {
               if(response.output=="gadgets"||response.output=="news"||response.output=="sports")
                {
                  result="This is a "+response.output+" article";
                 $(".alerts").addClass("alert-primary");
                 $(".alerts").removeClass("alert-danger");
                 $(".alerts").html(result);
                 $("#correct").css("visibility","visible");
                 $("#incorrect").css("visibility","visible");
                 $("#correct").click(function(){

                  var url=$("#input").val();
                  var data={"url":url,"class":response.output,"content":response.content };
                  $.ajax({
                                    type : "POST",
                                    url : "{{ url_for('update_dataset') }}",
                                    data: JSON.stringify(data, null, '\t'),
                                    contentType: 'application/json;charset=UTF-8',
                                    success: function(result) {
                                        if(result=="success")
                                          location.reload();
                                    }
        



                  });



                 });
                }
                else
                {
                
                  $(".alerts").addClass("alert-danger");
                  $(".alerts").removeClass("alert-primary");
                  $(".alerts").text(response.output);
                }

            },
         error: function(error) {
                console.log(error);
            }
        });

event.preventDefault()
});

 
  

  

</script>
    
  </body>
</html>