<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link href="{{ url_for('static',filename='bootstrap-4.0.0-dist/css/bootstrap.min.css')}} " rel="stylesheet">
<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='primary.css')}} ">
    <title>Hello, world!</title>
   

  </head>
  <body>
    <div class="container">
<p class="h1 " style="color: #55DAFD">Is this a News article?? </p>
<p id="p" class="my-md-3" style="color: white">Enter url of any news website</p>
  <form action="{{ url_for('handle_req') }}" method="POST">
  <div class="form-group row">
  <div class="col-sm-9 mb-2">
    <input type="text" name="url" class="form-control" id="Input" aria-describedby="emailHelp" placeholder="Url">
    </div>
    
    <div class="col-sm-2 mb-2">
      <button type="submit" class="btn btn-primary">Submit</button>
     
 
  </div></div>
  </form>
 <div class="alerts">

  </div>
</div>
    
  </body>
</html>